[submodule "client/diceparser"]
	path = client/diceparser
	url = https://github.com/Ocxyde/rolisteam-diceparser.git
	pushURL = git@github.com:Ocxyde/rolisteam-diceparser.git
[submodule "client/widgets/gmtoolbox"]
	path = client/widgets/gmtoolbox
	url = https://github.com/Ocxyde/rolisteam-plugins.git
	pushURL = git@github.com:Ocxyde/rolisteam-plugins.git
[submodule "client/charactersheet"]
	path = client/charactersheet
	url = https://github.com/Ocxyde/rcharactersheet.git
	pushURL = ggit@github.com:Ocxyde/rcharactersheet.git
[submodule "client/common"]
	path = client/common
	url = https://github.com/Ocxyde/rolisteam-common.git
	pushURL = git@github.com:Ocxyde/rolisteam-common.git
